<section class="" id="id-practice">
	<div class="jumbutron jumbutron-fluid bg-facebook-lightest-blue">
		<div class="container">
			<h2 class="text-center display-3">Need more practice?</h2>
			<hr class="my-4">

			<div class="row">
				<div class="col-md-12">
					<p class="text-center lead">Grab a copy of Bookkeeping NCIII Academy Reviewer</p>
					<p class="text-center lead">Words...Words... for Sales Copy</p>
				</div>
				<div class="col-xs-12 col-md-8">
					<h3 class="text-right">I want to make sure I will pass</h3>
				</div>
				<div class="col-xs-12 col-md-4">
					<button onclick="alert('Coming soon')" type="button" class="btn btn-primary btn-lg cursor-pointer">Buy the eBook</button>
				</div>
			</div>
		</div>
	</div>
</section>